
@{
    ViewBag.Title = "Listado";
}

<h2>Listado cliente</h2>

<form action="~/ListadoClientes" method="post">
    <table>
        <tr>
            <td><label for="inicio">Fecha inicio: </label></td>
            <td><input type="date" name="inicio" required max="@DateTime.Now.ToString("yyyy-MM-dd")"></td>
        </tr>
        <tr>
            <td><label for="final">Fecha final: </label></td>
            <td><input type="date" name="final" required max="@DateTime.Now.ToString("yyyy-MM-dd")"/></td>
        </tr>
    </table>
    <button type="submit" >Filtrar</button>
</form>
<hr />
<p>@DateTime.Today.ToShortDateString()</p>

<ul>
    @*Ordenar la lista previamente a recorrerla.*@
    @foreach (var item in ViewBag.listado)
    {
        <li>@item.ToString()</li>
    }
    @Html.ActionLink("<- Atras", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</ul>
