
@{
    ViewBag.Title = "Listado";
}

<h2>Listado de ventas</h2>

<ul>
    @*Ordenar la lista previamente a recorrerla.*@
    @foreach (var item in ViewBag.listado)
    {
        <li>@item.ToString()</li>
    }
</ul>
<p>@ViewBag.error</p>
<table>
    <tr>
        @*Ordenar la lista previamente a recorrerla.*@
        @foreach (var x in ViewBag.listado)
        {
            <td>@x.ToString()</td>
            @*<td>@x.mostrarCompra()</td>*@
        }
    </tr>
</table>


    @Html.ActionLink("<- Atras", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
