
@{
    ViewBag.Title = "Mod";
}

<h2>Modificar</h2>


<form method="post" action="~/ABMCliente/Mod">

    <select name="cliente" onchange="form.action = '/ABMCliente/CargarDatos'; form.submit();">
        <option value="0" selected="selected">Seleccionar</option>
        @foreach (var item in ObligatorioDominio.Sistema.Instancia.Clientes)
        {
            <option value="@item.Documento">@item.ToString()</option>
        }
    </select>
    <br />
    <button type="button" onclick="">Cargar datos</button> @*Ver como cargar los datos desde aca*@
    <br /><hr />

    <table>
        <tr>
            <td><label for="nombre">Nombre: </label></td>
            <td><input type="text" name="nombre" value="@ViewBag.nombre" required/></td>
        </tr>
        <tr>
            <td><label for="apellido">Apellido: </label></td>
            <td><input type="text" name="apellido" value="@ViewBag.apellido" required/></td>
        </tr>
        <tr>
            <td><label for="documento">Documento: </label></td>
            <td><input type="text" name="documento" value="@ViewBag.documento" readonly /></td>
        </tr>
        <tr>
            <td><label for="direccion">Direccion: </label></td>
            <td><input type="text" name="direccion" value="@ViewBag.direccion" required/></td>
        </tr>
        <tr>
            <td><label for="telefono">Telefono: </label></td>
            <td><input type="number" name="telefono" value="@ViewBag.telefono" required/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Modificar"/></td>
        </tr>
    </table>
    <label>@ViewBag.resultado</label>
</form>
